@import './absolute-elems';

@mixin prev-next-buttons {
  .prev-button,
  .next-button {
    @include absolute-elem-WH(23, 48);
    border: 1px solid #000;
    cursor: pointer;
  }

  .button-active {
    background: $sandy;
  }

  .button-muted {
    background: #8b8b8b;
  }

  .prev-button::before,
  .next-button::after {
    @include absolute-pseudo-elem-WH(13, 13);
    top: 16px;
    border: 1px solid #fff;
    border-right: none;
    border-top: none;
  }

  .prev-button::before {
    left: 8px;
    transform: rotate(45deg);
  }

  .next-button::after {
    right: 8px;
    transform: rotate(225deg);
  }
}
