@import url(../css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import './colors';
@import './gradients';
@import './rounded-borders';
@import './inline_block';
@import './absolute-elems';
@import './absolute-positioning';
@import './box-shadow';
@import './tabs-positioning';
@import './reference-goods';
@import './prev-next-buttons';
@import './button-buy-send';

body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  color: #fff;
  background: url('../img/background-repetition.jpg') 0 26px;
}

.banner,
.content,
footer {
  border: 10px solid;
  border-radius: 10px;
  border-image: url(../img/border-image.png) 20 18 / 2 1.8 stretch repeat;
  box-shadow: 0 0 4px #000, inset 0 0 4px #000;
  background: $almost_black;
}

button,
input,
a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
}

.bold-txt {
  font-weight: 700;
}

h2 {
  font-size: 22px;
  color: $blue;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: relative;
  padding-bottom: 15px;

  .flex-container,
  .basket,
  nav {
    z-index: 5;
  }

  .flex-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 386px 0 224px;

    .inner-container {
      ul {
        font-size: 0;

        li {
          @include roundBottomBorders;
          @include inlineBlock;
          @include box-shadow(3);
          cursor: pointer;
          background: map-get($gradients, lightgray-gradient);
          text-align: center;
          width: 123px;
          padding: 4px 0 7px;
        }

        li:not(:first-child) {
          margin-left: 4px;
        }
      }

      .phone {
        position: relative;
        font-size: 24px;
        font-weight: 700;
        margin: 43px 0 51px -1px;
      }

      .phone::before {
        @include absolute-pseudo-elem-WH(40, 41);
        @include pos-BL(-2, -52);
        background: url('../img/sprite.png') -276px -214px;
      }
    }

    .search {
      @include roundTopBorders;
      @include box-shadow(3);
      background: map-get($gradients, lightgray-gradient);

      input {
        margin-left: 8px;
        width: 182px;
        height: 23px;
        padding-left: 40px;
        background: #606060;
        border: 1px solid #969696;
      }

      button {
        width: 106px;
        height: 29px;
        background: $sandy;
        font-weight: 700;
        border: 1px solid #000;
        margin: 6px 16px 5px 11px;
        cursor: pointer;
      }
    }
  }

  nav {
    position: relative;
    @include roundBottomBorders;
    @include box-shadow(3);
    background: map-get($gradients, darkgray-gradient);
    height: 40px;
    margin: 5px 0 0 190px;

    ul {
      margin: 0 17px 0 92px;
      display: flex;
      justify-content: space-between;

      a {
        display: block;
        @include roundBottomBorders;
        background: transparent;
        font-weight: 700;
        padding: 11px 14px 20px 13px;
        white-space: nowrap;

        &:hover {
          @include box-shadow(2);
          background: map-get($gradients, sandy-gradient);
        }
      }
    }
  }

  .basket {
    @include absolute-elem-W(67);
    @include roundBottomBorders;
    @include pos-TR0;
    @include box-shadow(2);
    background: map-get($gradients, sandy-gradient);
    text-align: center;
    font-size: 0;

    a {
      @include inlineBlock;
      font-weight: 700;
      padding: 36px 12px 6px 12px;
    }

    &::before {
      @include absolute-pseudo-elem-WH(27, 27);
      @include pos-TL(6, 19);
      background: url('../img/sprite.png') -276px -255px;
      pointer-events: none;
    }
  }

  .sportsman {
    @include absolute-elem-WH(455, 214);
    top: 0;
    right: 2px;
    background: url('../img/sprite.png');
  }

  .logo-bg {
    @include absolute-elem-WH(276, 120);
    @include pos-BL0;
    background: url('../img/sprite.png') 0 -214px;
  }

  .logo {
    position: absolute;
    @include pos-BL(7, 29);
  }

  .logo-bg,
  .logo {
    z-index: 10;
  }
}

.banner-wrapper {
  position: relative;

  .banner {
    position: relative;
    margin-top: 31px;
    overflow: hidden;

    #banner-flex-container {
      display: flex;
      position: relative;
      left: 0;
      transition: left 0.5s ease-in-out;

      & > a {
        display: flex;
        flex: 1 0 100%;
        align-items: center;
        height: 231px;
        border-radius: 8px;
        background: #000;
      }

      .strongman,
      .what-for,
      .photo {
        background: url(../img/sprite.png);
      }

      .strongman {
        margin-left: 95px;
        width: 272px;
        height: 100%;
      }

      .what-for {
        margin-left: 67px;
        width: 244px;
        height: 151px;
      }

      .photo {
        margin-left: 73px;
        width: 106px;
        height: 226px;
      }

      .slide-1 {
        .strongman {
          background-position: 0 -334px;
        }

        .what-for {
          background-position: -272px -334px;
        }

        .photo {
          background-position: -516px -334px;
        }
      }

      .slide-2 {
        .strongman {
          background-position: 0 -565px;
        }

        .what-for {
          background-position: -272px -565px;
        }

        .photo {
          background-position: -516px -565px;
        }
      }

      .slide-3 {
        .strongman {
          background-position: 0 -796px;
        }

        .what-for {
          background-position: -272px -796px;
        }

        .photo {
          background-position: -516px -796px;
        }
      }

      .slide-4 {
        .strongman {
          background-position: 0 -1027px;
        }

        .what-for {
          background-position: -272px -1027px;
        }

        .photo {
          background-position: -516px -1027px;
        }
      }
    }
  }

  @include prev-next-buttons;

  .prev-button,
  .next-button {
    top: 50%;
    transform: translateY(-50%);
  }

  .prev-button {
    left: -7px;
  }

  .next-button {
    right: -8px;
  }
}

.content {
  margin-top: 66px;
  padding: 29px 27px 18px 30px;

  main {
    .tabs {
      position: relative;
      ul {
        font-size: 0;
        position: absolute;
        @include pos-TL(-73, -2);
        li {
          position: relative;
          display: inline-block;
          height: 34px;
          background-image: url(../img/sprite.png);
          overflow: hidden;
          pointer-events: none;

          div {
            position: relative;
            cursor: pointer;
            display: inline-block;
            height: 100%;
            transform: skewX(-33deg);
            pointer-events: initial;

            span {
              position: absolute;
              top: 10px;
              font-size: 16px;
              text-transform: uppercase;
              font-style: italic;
              font-weight: 700;
              user-select: none;
              text-shadow: 2px 2px 2px #856b21bf, -2px -2px 2px #856b21bf,
                2px -2px 2px #856b21bf, -2px 2px 2px #856b21bf;
            }
          }
        }

        .first-tab {
          width: 278px;
          background-position: -316px -214px;
          z-index: 15;

          div {
            width: 96%;
            transform: skewX(-33deg);

            span {
              left: 31px;
              transform: skewX(33deg);
            }
          }
        }

        .second-tab {
          width: 268px;
          background-position: -316px -248px;
          margin-left: -34px;
          z-index: 10;

          div {
            width: 96%;
            transform: skewX(-33deg);

            span {
              left: 82px;
              transform: skewX(33deg);
            }
          }
        }

        .third-tab {
          width: 268px;
          background-position: -316px -282px;
          margin-left: -48px;
          z-index: 5;

          div {
            width: 100%;
            transform: none;

            span {
              left: 86px;
            }
          }
        }
      }

      #cancel-tab {
        display: none;
        position: absolute;
        @include pos-TR(-61, -2);
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        text-decoration: underline;
        user-select: none;
      }

      .tabs-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 16px;

        .fat-burners .pic,
        .kreatine .pic,
        .l-carnitine .pic,
        .joints-ligaments .pic,
        .health-immunity .pic,
        .sport-clothes .pic {
          background-position-y: -145px;
        }

        .sticks .pic,
        .vitamins .pic,
        .testosterone .pic,
        .accessories .pic,
        .launch-boxes .pic,
        .discounts .pic {
          background-position-y: -285px;
        }

        a {
          @include reference-goods(136, 136);
          transition: opacity 0.7s ease-in-out;

          .background {
            position: relative;
            width: 128px;
            height: 128px;
            background-image: radial-gradient(#9a9a9a, #f6f6f6);
            overflow: hidden;

            .pic {
              background-image: url(../img/tabs-sprite.png);
              position: absolute;
              top: 50%;
              left: 50%;
            }

            div[class|='name'] {
              position: absolute;
              transform: rotate(-45deg);
              transform-origin: bottom left;
              font-size: 25px;
              font-weight: 700;
              color: transparent;
              letter-spacing: -1.2px;
              text-align: center;

              .outer-text {
                position: relative;
                background: linear-gradient(45deg, #000, #333);
                -webkit-text-stroke: 6px transparent;
                text-shadow: 0 0 10px #000, 2px 2px 2px #000, -2px -2px 2px #000,
                  2px -2px 2px #000, -2px 2px 2px #000;
                background-clip: text;
                -webkit-background-clip: text;

                .inner-text {
                  position: absolute;
                  top: 0;
                  left: 4px;
                  background: linear-gradient(45deg, #9d7c1b 25%, #bf9f3f 75%);
                  background-clip: text;
                  -webkit-background-clip: text;
                  -webkit-text-stroke: initial;
                  text-shadow: initial;
                }
              }
            }
          }
        }

        .aminoacids {
          .pic {
            width: 94px;
            height: 123px;
            transform: translate(-50%, calc(-50% - 1px));
          }

          .name {
            width: 133px;
            @include pos-BL(5, 19);
          }
        }

        .gainers {
          .pic {
            @include tabs-positioning(87, 133, 94);
            transform: translate(calc(-50% - 1px), calc(-50% - 2px));
          }

          .name {
            width: 78px;
            @include pos-BL(6, 21);
          }
        }

        .proteins {
          .pic {
            @include tabs-positioning(93, 129, 181);
            transform: translate(-50%, calc(-50% - 1px));
          }

          .name {
            width: 91px;
            @include pos-BL(4, 20);
          }
        }

        .spec-preps {
          .pic {
            @include tabs-positioning(91, 131, 274);
            transform: translate(calc(-50% + 1px), calc(-50% - 1px));
          }

          .name-1 {
            width: 122px;
            @include pos-BL(10, 25);
          }

          .name-2 {
            width: 98px;
            @include pos-BL(2, 44);
          }
        }

        .sport-drinks {
          .pic {
            @include tabs-positioning(75, 145, 365);
            transform: translate(calc(-50% - 1px), calc(-50% - 2px));
          }

          .name-1 {
            width: 109px;
            @include pos-BL(9, 26);
          }

          .name-2 {
            width: 73px;
            @include pos-BL(7, 49);
          }
        }

        .energy-drinks {
          .pic {
            @include tabs-positioning(87, 132, 440);
            transform: translate(-50%, calc(-50% - 2px));
          }

          .name {
            width: 101px;
            @include pos-BL(10, 27);
          }
        }

        .fat-burners {
          .pic {
            width: 75px;
            height: 140px;
            transform: translate(-50%, calc(-50% - 2px));
          }

          .name {
            width: 139px;
            @include pos-BL(6, 20);
          }
        }

        .kreatine {
          .pic {
            @include tabs-positioning(91, 122, 75);
            transform: translate(calc(-50% - 1px), -50%);
          }

          .name {
            width: 77px;
            @include pos-BL(4, 21);
          }
        }

        .l-carnitine {
          .pic {
            @include tabs-positioning(82, 132, 166);
            transform: translate(calc(-50% + 2px), calc(-50% - 2px));
          }

          .name {
            width: 96px;
            @include pos-BL(6, 20);
          }
        }

        .joints-ligaments {
          .pic {
            @include tabs-positioning(86, 136, 248);
            transform: translate(-50%, -50%);
          }

          .name-1 {
            width: 114px;
            @include pos-BL(12, 26);
          }

          .name-2 {
            width: 76px;
            @include pos-BL(12, 51);
          }
        }

        .health-immunity {
          .pic {
            @include tabs-positioning(101, 127, 334);
            transform: translate(calc(-50% - 1px), calc(-50% - 1px));
          }

          .name-1 {
            width: 101px;
            @include pos-BL(20, 29);
          }

          .name-2 {
            width: 97px;
            @include pos-BL(12, 45);
          }
        }

        .sport-clothes {
          .pic {
            @include tabs-positioning(136, 130, 435);
            transform: translate(calc(-50% + 5px), calc(-50% - 3px));
          }

          .name-1 {
            width: 104px;
            @include pos-BL(9, 25);
          }

          .name-2 {
            width: 76px;
            @include pos-BL(7, 52);
          }
        }

        .sticks {
          .pic {
            width: 134px;
            height: 118px;
            transform: translate(calc(-50% - 1px), calc(-50% - 2px));
          }

          .name {
            width: 95px;
            @include pos-BL(5, 20);
          }
        }

        .vitamins {
          .pic {
            @include tabs-positioning(75, 138, 134);
            transform: translate(calc(-50% - 2px), calc(-50% - 2px));
          }

          .name-1 {
            width: 106px;
            @include pos-BL(16, 26);
          }

          .name-2 {
            width: 93px;
            @include pos-BL(7, 44);
          }
        }

        .testosterone {
          .pic {
            @include tabs-positioning(81, 135, 209);
            transform: translate(calc(-50% + 3px), calc(-50% - 1px));
          }

          .name-1 {
            width: 106px;
            @include pos-BL(22, 26);
          }

          .name-2 {
            width: 118px;
            @include pos-BL(6, 37);
          }
        }

        .accessories {
          .pic {
            @include tabs-positioning(139, 121, 290);
            transform: translate(calc(-50% - 1px), calc(-50% - 2px));
          }

          .name-1 {
            width: 109px;
            @include pos-BL(14, 29);
          }

          .name-2 {
            width: 102px;
            @include pos-BL(3, 45);
          }
        }

        .launch-boxes {
          .pic {
            @include tabs-positioning(102, 143, 429);
            transform: translate(calc(-50% + 1px), calc(-50% - 2px));
          }

          .name-1 {
            width: 119px;
            @include pos-BL(14, 26);
          }

          .name-2 {
            width: 84px;
            @include pos-BL(12, 52);
          }
        }

        .discounts {
          .pic {
            @include tabs-positioning(133, 128, 531);
            transform: translate(calc(-50% + 2px), calc(-50% - 1px));
          }

          .name {
            width: 67px;
            @include pos-BL(62, 22);
          }
        }
      }
    }

    .hits,
    .new {
      h2 {
        margin: 29px 0 13px 2px;
      }

      .container {
        position: relative;
        border: 1px solid #666;
        outline: 1px solid #000;
        background: #333;
        padding: 26px 30px 22px 31px;

        @include prev-next-buttons;

        .prev-button,
        .next-button {
          top: 62px;
        }

        .prev-button {
          left: -13px;
        }

        .next-button {
          right: -14px;
        }

        .wrapper-overflow {
          overflow: hidden;

          .flex-container {
            display: flex;
            column-gap: 28px;

            [class^='item'] {
              position: relative;
              height: 328px;
              display: flex;
              flex: 0 0 189px;
              flex-wrap: wrap;
              align-content: flex-start;

              a {
                @include reference-goods(189, 128);

                .background {
                  position: relative;
                  width: 179px;
                  height: 120px;
                  background-image: radial-gradient(#737373, #d8d8d8);
                  overflow: hidden;

                  img {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                  }

                  [src*='bcaa'] {
                    top: -15px;
                  }

                  [src*='amino'] {
                    top: -13px;
                  }

                  [src*='aakg'] {
                    top: -11px;
                  }

                  [src*='antioxidant'] {
                    top: -18px;
                  }
                }
              }

              h3 {
                font-size: 18px;
                color: $bright-yellow;
                margin: 9px 0 4px;
              }

              .description {
                line-height: 1.2;
              }

              .order {
                position: absolute;
                @include pos-BL0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                color: $sandy;
                row-gap: 17px;
                align-items: center;

                [class$='quantity'] {
                  font-family: Arial, Helvetica, sans-serif;

                  input {
                    width: 37px;
                    height: 19px;
                    color: #000;
                    font-size: 17px;
                    border: 1px solid $gray_2;
                    text-align: right;
                    padding-right: 6px;
                  }

                  span {
                    color: $gray_2;
                    font-size: initial;
                  }

                  select {
                    width: 65px;
                    border: 1px solid $gray_2;
                    padding: 1px;
                    font-size: 16px;
                  }
                }

                .price {
                  font-weight: 700;

                  .number {
                    font-size: 20px;
                  }
                }

                button {
                  @include button-buy-send;
                }
              }
            }
          }
        }
      }
    }
  }

  .articles {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;

    .article {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 159px;
      max-height: 600px;
      line-height: 1.2;

      img {
        border: 6px solid #333;
        outline: 1px solid #fbfbfb;
        outline-offset: -6px;
      }

      .date {
        font-family: Arial, Helvetica, sans-serif;
        color: $blue;
        margin-top: 12px;
      }

      .name {
        color: #bf9f3f;
        margin-top: 2px;
      }

      .text {
        margin-top: 2px;
        color: $gray_1;
      }

      .text::after {
        content: '…';
        margin-left: -2px;
      }

      .read-more {
        cursor: pointer;
        color: $bright-yellow;
        margin-top: 4px;
      }
    }
  }

  .subscribe-info {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
    color: $gray_1;

    .subscription {
      width: 219px;

      form {
        margin-top: 16px;

        label {
          line-height: 1.2;
        }

        .inp-wrap {
          margin-top: 18px;

          input {
            width: 100%;
            height: 29px;
            box-sizing: border-box;
            border: 1px solid $gray_1;
            color: $almost_black;
          }
        }

        .btn-wrap {
          text-align: right;
          margin-top: 23px;

          button {
            @include button-buy-send;
          }
        }
      }
    }

    .information {
      width: 633px;
      line-height: 1.2;
      color: $gray_1;

      a {
        color: $bright-yellow;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 30px 0 42px;
  padding: 7px 29px 6px;
  color: $gray_1;

  p {
    margin-right: 152px;
    padding-bottom: 4px;
  }

  .bold-txt {
    color: #fff;
  }

  .refs {
    display: inline-flex;
    column-gap: 7px;

    a {
      display: block;
      width: 37px;
      height: 37px;
      background: url(../img/sprite.png);
      background-position-y: -500px;
    }

    .ref_1 {
      background-position-x: -280px;
    }

    .ref_2 {
      background-position-x: -317px;
    }
    .ref_3 {
      background-position-x: -354px;
    }
    .ref_4 {
      background-position-x: -391px;
    }
    .ref_5 {
      background-position-x: -428px;
    }
    .ref_6 {
      background-position-x: -465px;
    }
  }
}
